<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Economist and Data Scientist</h3>
                <h1>Pelayo Arbués</h1>
            <!--    <h5>Freelance</h5>   -->
            <!--   <h5>Available for commission</h5>		-->		
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->