<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Data analyst</h3>
                <h1>Pelayo Arbués</h1>
                <h5>Universidad de Oviedo</h5>
                <h5>Departamento de Economía</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->